// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.page.page-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .page-register__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12rem;
  }
  .page-register__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12rem;
  }
}